
.hero-title {
    color: #ffffff;
     font-family: "essonnes-display", sans-serif;
    font-size: 58px;
    font-weight: bold;
    line-height: 1.2em;
}

.hero-content {
     font-family: "proxima-nova", sans-serif;    
     font-size: 26px;
     color: #ffffff;
}

h3 {
    font-family: "essonnes-display", sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.h3-why {
    
    color: #fd9a2b;
}

.h3-together {
    color: #528945;
}

.h3-slides {
    color: #4a4a6b;
}

.benefits-p {
    line-height: 2.0em; 
    margin-top: 20px;
    font-family: "proxima-nova", sans-serif;    
}

.benefits-img-height {
    height: 175px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.header-background-img  {
    border-bottom: solid 20px #fd9a2b;
    background: url(../images/hero-image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.beta-signup-font {
    color: #fd9a2b;
    /*font-family: "proxima-nova",sans-serif;*/
    font-style: normal;
    letter-spacing: 1.3px;
    font-weight: 100;
    font-size: 60px;
}

iframe .container {
    width: 100% !important;
}

.signup-content {
    color: #ffffff;
    font-family: "proxima-nova",sans-serif;
    /*letter-spacing: 1.3px;
    font-weight: 100;*/
    font-size: 26px;
}

.input-group {
    margin-top: 65px;
}

.form-control {
    height: 80px;
     font-family: "essonnes-display", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.copyright {
    color: #c29771;
    font-family: "proxima-nova",sans-serif;
    font-size: 12px;
}


@media (max-width: 1350px) {

    .header-background-img {
        width: 100%;
        height: auto;
    }
}